section {
  padding-bottom: 0;
  padding-top: 0;
}
a {
  text-decoration: none !important;
}
h2 {
  padding-top: 3rem;
}
h1{
  padding-bottom: 3rem;
}
footer h1{
  padding-bottom: 2rem;
}
.col-2 {
padding: 0;
}
ul,li,p {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.container_icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  min-width: 30px;
  min-height: 30px;
  margin: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.icon_img {
  width: 100%!important;
  max-width: 60px;
  height: auto;
  padding: 10px;

}

.fr{
  margin-right: 1rem;
}

.container_button{
 width: 100%;
 text-align: center;
}

.bolder{
  font-weight: 700;
}

.navbar-brand img {
  max-width: 170px !important;
}

.masthead {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

.masthead-content{
  width: 100%;
}

.start-section {
  padding-top: 3rem;
}

.fluid {
  width: 100%;
  height: auto;
}

.nopadding {
  padding-right: 0!important;
  padding-left: 0!important;
}

.pad50 {
  padding: 50px;
}


@media (max-width: 767px) {
  .social-row {
    padding-left: 1rem;
  }
  .nl-button {
    margin-top: 1rem;
  }

  .icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
}

@media (max-width: 576px) {


  #mainNav .navbar-brand img {
    max-height: 50px;
  }

  .container{
    padding-right: 5px;
    padding-left: 5px;
  }


  .social-row {
    justify-content: inherit;
  }
  .pad50 {
    padding: 10px;
  }
  h1{
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  footer h1{
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }
  li{
    font-size: 0.8rem;
  }
  p{
    
    font-size: 0.8rem;
  }
  .fr{
    margin-right: 0;
  }
  .fr img {
    width: 90px;
    height: auto;
    text-align: right;
    
  }
  .icon {
      width: 36px;
      height: 36px;
      margin: 0 auto;
  }
}
