#mainNav {
  visibility: hidden;
}

@media (min-width: 992px) {
  #mainNav {
    visibility: hidden;
  }
}

.masthead {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 0 3rem 0;
}

.masthead h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.masthead h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.header-logo {
  max-width: 12rem;
}

.header-logo img {
  width: 100%;
}

.header-content {
  margin-top: 7rem;
}

.header-content {
  padding-left: 4rem;
}

.start-section {
  margin: 3rem 0;
  padding: 0;
}

.start-section .demo {
  max-height: 80vh;
  min-height: 30rem;
}

.start-section .demo img {
  height: 100%;
}

@media (min-width: 992px) {
  .start-content {
    max-height: 17rem;
  }
  .start-section .demo {
    top: -28rem;
    min-height: 40rem;
  }
}

.jeune-section a {
  color: white;
}

.jeune-section button {
  margin-bottom: 3rem;
}

.pro-section button {
  margin-bottom: 3rem;
}

.pro-section {
  padding-bottom: 0;
}

.start-section .social {
  margin-bottom: 50px;
}

.relais-section .social {
  margin-top: 1rem;
}

@media (min-width: 577px) {
  .start-section .social a {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}
