#mainNav {
  min-height: 56px;
  background-color: #fff;
  visibility: hidden;
  font-size: 0.9rem;
}

#mainNav.navbar-shrink {
    background-color: #fff;
    visibility: visible;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: darkgrey;
  border: 1px solid darkgrey;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: darkgrey;
  font-weight: 700;
}

#mainNav .navbar-brand img {
  max-height: 70px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: white;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: white;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: white;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    font-size: 0.9rem;
    visibility: hidden;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: darkgrey;
  }
  #mainNav .navbar-brand img {
    max-height: 80px;
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 1rem;
  }
  #mainNav .nav-link:active {
    color: darkgrey;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
    visibility: visible;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1rem;
    border-bottom: 0.25rem solid white;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: darkgrey;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: darkgrey;
    outline: none;
    border-bottom: 0.25rem solid darkgrey;
  }
}

.masthead {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 0 3rem 0;
}

.masthead h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.masthead h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.header-logo {
  max-width: 12rem;
}

.header-logo img {
  width: 100%;
}

.header-content {
  margin-top: 7rem;
}

.header-content {
  padding-left: 4rem;
}

footer {
  padding: 3rem 0;
  font-size: 0.8rem;
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 30px;
}

.btn-blue {
  background-color: #320096;
  border: 2px solid #320096;
  color: white;
  margin-bottom: 20px;
}

.btn-blue:hover {
  background-color: white;
  border: 2px solid #320096;
  color: #320096;
}

.btn-blue:focus {
  background-color: white;
  border: 2px solid #320096;
  color: #320096;
}

.btn-blue:active {
  background-color: white;
  border: 2px solid #320096;
  color: #320096;
}

.btn-pink {
  background-color: #EB0055;
  border: 2px solid #EB0055;
  color: white;
}

.btn-pink:hover {
  background-color: white;
  border: 2px solid #EB0055;
  color: #EB0055;
}

.btn-pink:focus {
  background-color: white;
  border: 2px solid #EB0055;
  color: #EB0055;
}

.btn-pink:active {
  background-color: white;
  border: 2px solid #EB0055;
  color: #EB0055;
}

.btn-white {
  background-color: white;
  border: 2px solid white;
  color: black;
}

.btn-white:hover {
  background-color: white;
  border: 2px solid #EB0055;
  color: #EB0055;
}

.btn-white:focus {
  background-color: white;
  border: 2px solid #EB0055;
  color: #EB0055;
}

.btn-white:active {
  background-color: white;
  border: 2px solid #EB0055;
  color: #EB0055;
}

.social {
  text-align: center;
}

.social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #320096;
  border-radius: 100%;
  border: 2px solid #320096;
  line-height: 3rem;
  font-size: 1.5rem;
  color: white;
}

.social a:hover {
  color: #320096;
  background-color: white;
  border: 2px solid #320096;
}

.social a:active {
  color: #320096;
  background-color: white;
  border: 2px solid #320096;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
}

section p {
  margin-bottom: 1.5rem;
}

section img {
  max-width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .section-text {
    padding-top: 2rem;
  }
}

.start-section {
  margin: 3rem 0;
  padding: 0;
}

.start-section .demo {
  max-height: 80vh;
  min-height: 30rem;
}

.start-section .demo img {
  height: 100%;
}

@media (min-width: 992px) {
  .start-content {
    max-height: 17rem;
  }
  .start-section .demo {
    top: -28rem;
    min-height: 40rem;
  }
}

.newsletter {
  margin: 3rem 0 1rem 0;
}

.newsletter button {
}

.jeune-section a {
  color: white;
}

.jeune-section button {
  margin-bottom: 3rem;
}

.pro-section button {
  margin-bottom: 3rem;
}

.start-section .social {
  margin-bottom: 50px;
}

.pro-section .social {
  margin-top: 1rem;
}

@media (min-width: 577px) {
  .start-section .social a {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.0625em;
  color: dimgrey;
}

a {
  color: white;
}

a:focus, a:hover {
  text-decoration: none;
  color: lightgrey;
}

section a {
  text-decoration: underline;
}

.link-pink a {
  color: #EB0055;
}

.link-pink a:focus, .link-pink a:hover {
  text-decoration: none;
  color: #320096;
}

.link-bg-white a {
  color: dimgrey;
}

.link-bg-white a:focus, .link-bg-white a:hover {
  text-decoration: none;
  color: lightgrey;
}

h2 {
  padding-bottom: 1rem;
}

@media (max-width: 576px) {
  .header-content {
    padding-left: 1rem;
    margin-top: 3rem;
  }

  .masthead h1 {
    font-size: 1.7rem;
  }

  .masthead h2 {
    margin: 0;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.6rem;
    /*margin: 1rem;*/
  }

  h3 {
    font-size: 1.5rem;
  }

  .social-row {
    justify-content: center;
  }
}


.bg-gradient {
  background: linear-gradient(to right bottom, #EB0055, #320096);
}

.bg-pink {
  background-color: #EB0055 !important;
}

.bg-blue {
  background-color: #320096 !important;
}

.text-blue {
  color: #320096 !important;
}

.text-pink {
  color: #EB0055 !important;
}

.text-primary {
  color: darkgrey !important;
}
